---
import { Image } from "astro:assets";
const { project } = Astro.props;
---

<div
  class="bg-neutral-900 rounded-2xl shadow-lg overflow-hidden flex flex-col border border-neutral-700 hover:border-indigo-500 transition group"
>
  <div
    class="relative h-48 w-full overflow-hidden flex items-center justify-center bg-neutral-800"
  >
    <Image
      src={project.image}
      alt={project.name + " logo"}
      class="object-contain h-32 w-32 group-hover:scale-105 transition-transform duration-300 pointer-events-none select-none"
      loading="lazy"
      width="128"
      height="128"
    />
  </div>
  <div class="flex-1 flex flex-col p-6">
    <h2
      class="text-xl font-bold mb-1 text-indigo-200 group-hover:text-indigo-400 transition-colors"
    >
      {project.name}
    </h2>
    <p class="text-neutral-300 text-sm mb-3">{project.description}</p>
    <div class="flex flex-wrap gap-2 mb-4">
      {
        project.techStack.map((tech: string) => (
          <span class="bg-indigo-900/40 text-indigo-200 rounded px-2 py-1 text-xs font-mono border border-indigo-700/40">
            {tech}
          </span>
        ))
      }
    </div>
    <div class="grid grid-cols-1 gap-4">
      {
        project.live ? (
          <a
            href={project.live}
            target="_blank"
            rel="noopener"
            class="mt-auto inline-block px-4 py-2 rounded bg-indigo-700 text-white font-semibold shadow hover:bg-indigo-800 transition-colors text-center"
          >
            Visit
          </a>
        ) : (
          <button class="mt-auto inline-block px-4 py-2 rounded bg-indigo-700 text-white font-semibold shadow hover:bg-pink-800 transition-colors text-center">
            N/A
          </button>
        )
      }
      {
        project.github ? (
          <a
            href={project.github}
            target="_blank"
            rel="noopener"
            class="mt-auto inline-block px-4 py-2 rounded bg-indigo-700 text-white font-semibold shadow hover:bg-indigo-800 transition-colors text-center"
          >
            View on GitHub
          </a>
        ) : (
          <button class="mt-auto inline-block px-4 py-2 rounded bg-indigo-700 text-white font-semibold shadow hover:bg-pink-800 transition-colors text-center">
            Repo is Private
          </button>
        )
      }
    </div>
  </div>
</div>
