---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
import FormattedDate from "../components/FormattedDate.astro";
type Props = CollectionEntry<"blog">["data"];

const post = Astro.props;
---

<Layout title={post.title} description={post.description}>
  <article class="flex flex-col min-h-[80vh] xl:max-w-1/2 mt-6 mx-auto">
    <div class="mb-6">
      <h1
        class="text-2xl md:text-3xl font-bold flex items-center justify-center gap-2"
      >
        {post.title}
      </h1>
      <p class="md:text-md mx-auto text-neutral-300 mt-2">{post.description}</p>
    </div>

    <div class="hero-image mb-6">
      {
        post.heroImage && (
          <Image
            class="w-full h-1/2 m-auto border border-indigo-400/50 rounded-xl shadow-md transition-transform duration-200"
            width={1020}
            height={510}
            src={post.heroImage.url}
            alt={post.heroImage.alt}
          />
        )
      }
    </div>

    <div class="flex justify-center gap-6 items-center mb-4">
      <p class="text-sm text-neutral-200/60 md:mb-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 float-left mr-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
          ></path>
        </svg>

        Published on <FormattedDate date={post.pubDate} />
      </p>

      {
        post.updateDate && (
          <p class="text-sm text-neutral-200/60 md:mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 float-left mr-1"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
              />
            </svg>
            Last updated on <FormattedDate date={post.updateDate} />
          </p>
        )
      }
    </div>

    <hr class="w-full border-neutral-700 my-4" />

    <div class="max-w-none prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-indigo-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline">
      <slot />
    </div>
  </article>
  <div class="mt-10 text-center text-neutral-400 text-sm">
    <span>Thanks for reading! (｡•̀ᴗ-)✧</span>
  </div>
</Layout>

<style>
  .hero-image img {
    box-shadow: 0 4px 24px 0 rgba(99, 102, 241, 0.12);
  }
</style>
